.formulaire{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.647);
    width: 230PX;
    margin-top: 120px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    padding: 20px;
}
.formulaire1{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.647);
    width: 250PX;
    margin-top: 120px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    padding: 20px;
}
a{
    color: white;
 
    margin: 15px 0;
}
body{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(brooke-lark-wMzx2nBdeng-unsplash.jpg);
    background-size: cover;
}

.lien{
    color: olive;
    font-size: 15px;
    text-decoration: none;
}

.btn{
    margin-top: 15px;
    background-color: #33a471;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-size: 17px;
    padding:8px 15px ;
}

input{
    background-color: antiquewhite;
    border-radius: 8px;
    color: #93441A;
}
